@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(0);
  }
  50% { 
    transform: translateX(var(--scroll-distance)); 
  }
  70% {
    transform: translateX(var(--scroll-distance));
  }
  100% {
    transform: translateX(0%);
  }
}

.marquee-animate {
  animation: marquee ease-in-out infinite;
  animation-duration: var(--scroll-duration);
  display: inline-block;
}

.marquee-animate:hover {
  animation-play-state: paused;
}
